<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cos.dao.DeviceInfoMapper">

    <!-- 分页获取设备管理信息 -->
    <select id="selectDevicePage" resultType="java.util.LinkedHashMap">
        select
        di.id,
        di.code,
        di.name,
        di.type_id,
        di.online_flag,
        di.last_open_date,
        di.create_date,
        di.open_flag,
        di.device_value,
        di.remark,
        di.address,
        dt.name as typeName,
        dt.images,
        ui.name as userName,
        ui.images as userImages
        from
        device_info di
        left join device_type dt on
        (dt.id = di.type_id)
        left join user_info ui on
        (ui.id = di.user_id)
        where
        1 = 1
        <if test="deviceInfo.name != null and deviceInfo.name != ''">
            AND di.name LIKE CONCAT('%',#{deviceInfo.name},'%')
        </if>
        <if test="deviceInfo.typeName != null and deviceInfo.typeName != ''">
            AND dt.name LIKE CONCAT('%',#{deviceInfo.typeName},'%')
        </if>
        <if test="deviceInfo.userName != null and deviceInfo.userName != ''">
            AND ui.name LIKE CONCAT('%',#{deviceInfo.userName},'%')
        </if>
        <if test="deviceInfo.onlineFlag != null and deviceInfo.onlineFlag != ''">
            AND di.online_flag = #{deviceInfo.onlineFlag}
        </if>
        <if test="deviceInfo.userId != null and deviceInfo.userId != ''">
            AND ui.user_id = #{deviceInfo.userId}
        </if>
        order by
        di.create_date desc
    </select>
</mapper>
